.rodape {
    display: block;
    text-align: center;
    background-color: #F9FAFB;
    padding: 6em 19em;
}

.rodape__titulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--gray900);
}

.rodape__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--gray);
}

.rodape__divdois {
    margin: 2.5em 0 2em 0;
}

.rodape__email {
    border-radius: 8px;
    outline: none;
    border: 1px solid #D0D5DD;
    background-color: white;
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    padding: 0.8em 10em 0.8em 1em;
    margin-right: 1em;
}

.rodape__botao {
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--vermelho-escuro);
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 0.75em 1.25em;
}

.divtres__texto {
    color: #98A2B3;
    font-size: 16px;
    font-weight: 400;
}